/*<meta />*/

span.Body_Char
{
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Bullet_Char
{
	color: #3E3E3E;
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 10pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Bullet_Last_Char
{
	color: #3E3E3E;
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 10pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Code
{
	color: black;
	font-size: 9pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	padding-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
	font-family: 'Courier New';
}

span.Default_Paragraph_Font
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 5pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Definition_List_Body_Char
{
	color: black;
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 10pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Definition_List_Term_Char
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 10pt;
	text-transform: none;
	vertical-align: baseline;
	color: #ff4905;
}

span.FollowedHyperlink
{
	color: purple;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	text-decoration: underline;
	text-transform: none;
	vertical-align: baseline;
}

span.GUI_Item
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0pt;
	padding-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
	color: #3e3e3e;
}

span.Hyperlink
{
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	padding-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
}

span.If_Then_Statement
{
	color: #3E3E3E;
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	margin-left: 0pt;
	padding-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
}

span.New_Term_or_Variable
{
	font-family: Arial;
	font-size: 10pt;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Step_Intro_Char
{
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	margin-left: 10pt;
	text-transform: none;
	vertical-align: baseline;
	color: #ff4905;
}

span.Table_Text_Char
{
	color: black;
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 0pt;
	text-transform: none;
	vertical-align: baseline;
}

span.Tip_Char
{
	font-family: Arial;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin-left: 8pt;
	text-transform: none;
	vertical-align: baseline;
}

table.Grid_Table
{
	margin-left: 5pt;
	font-size: 10pt;
	table: ;
	border-left-color: #E0E0E0;
	border-right-color: #E0E0E0;
	border-right-style: solid;
	border-right-width: 1pt;
	border-top-color: #E0E0E0;
	margin-right: 5pt;
	margin-top: 2pt;
}

p
{
	font-family: 'Arial';
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
}

ol
{
	font-family: 'Arial';
	font-size: 8pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	font-family: 'Arial';
	font-size: 8pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-size: 10pt;
	font-family: arial;
	padding-bottom: 3pt;
	color: #000000;
}

td
{
	vertical-align: top;
	font-family: arial;
	border: none;
	font-size: 0pt;
	padding: 0px;
	border-spacing: 0;
}

p.Body
{
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	margin-right: 5pt;
	font-size: 10pt;
	font-family: arial;
	border: none;
	padding: 0px;
	font: Arial;
	color: #000000;
	padding-top: 3pt;
}

td.td_1
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #A1A1A1;
	background-color: #DDDDDD;
}

td.td_2
{
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #A1A1A1;
	border-bottom-style: none;
	border-right-style: none;
	background-color: #DDDDDD;
}

td.td_3
{
	background-color: #auto;
	border: solid 1px #a9a9a9;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #a9a9a9;
	border-bottom-color: #ffffff;
}

table.table_1
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 2pt;
	border-collapse: collapse;
	border: none;
}

table.table_2
{
	margin-left: 5pt;
	margin-right: 5pt;
	margin-top: 2pt;
	border-collapse: collapse;
}

h1.Heading1
{
	line-height: 30px;
	margin-bottom: 10pt;
	margin-top: 0px;
	margin-left: -3px;
	margin-right: -3px;
	mc-heading-level: 1;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial;
	padding-left: 10pt;
	padding-top: 5pt;
	padding-bottom: 2pt;
	color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	background-color: #ff4500;
	background-image: url('../Images/background.png');
	background-position: top right;
	background-repeat: no-repeat;
	border-bottom-color: #a9a9a9;
	page-break-before: always;
}

h2.Heading2
{
	page-break-after: avoid;
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 5pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-size: 12pt;
	font-family: arial;
	padding-left: 0pt;
	padding-top: 10pt;
	color: #ff4905;
}

p.NumberedList
{
	page-break-inside: avoid;
	margin-top: 6pt;
	font-family: 'Arial';
	color: #000000;
	font-size: 10pt;
	padding-bottom: 0px;
	padding-top: 0px;
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 50pt;
}

h3.Heading3
{
	margin-top: 0pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	mc-heading-level: 3;
	font-weight: bold;
	font-family: arial;
	font-size: 12pt;
	padding-top: 10pt;
	color: #ff8225;
}

p.Question
{
	page-break-after: avoid;
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0pt;
	font-weight: bold;
	color: #3D3D3D;
	font-size: 11pt;
	font-family: arial;
}

table.table_3
{
	margin-left: 23pt;
	border-collapse: collapse;
}

p.StepIntro
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-left: 5pt;
	font-weight: bold;
	font-size: 10pt;
	font-family: arial;
	color: #ff4905;
	padding-top: 0px;
	padding-bottom: 6px;
}

p.BodyIndent
{
	page-break-after: avoid;
	margin-top: 6pt;
	margin-left: 10pt;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
}

li.Bullet
{
	font-size: 10pt;
	font-family: arial;
	font-style: normal;
	padding-top: 3pt;
	padding-bottom: 0pt;
	color: #000000;
	margin-left: 10pt;
}

p.Image
{
	margin-top: 6pt;
	margin-left: 18pt;
	padding: 0px;
	border: none;
	border-bottom: none;
	border-bottom-width: 0px;
	border-left: none 0px;
	font-size: 0pt;
}

li.NumberedList
{
	page-break-inside: avoid;
	color: #000000;
	font-family: arial;
	padding-bottom: 0pt;
	padding-top: 0pt;
	margin-top: 3pt;
	margin-left: 10pt;
}

p.TableHeadRow
{
	page-break-inside: avoid;
	margin-top: 3pt;
	margin-bottom: 3pt;
	text-align: left;
	font-weight: bold;
	color: #ffffff;
	font-size: 10pt;
	font-family: arial;
	border: none;
	padding: 0px;
	padding-left: 2pt;
	padding-right: 2pt;
}

p.TableText
{
	margin-top: 3pt;
	margin-bottom: 3pt;
	text-align: left;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
	padding-left: 3pt;
}

p.DefinitionListTerm
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-left: 18pt;
	font-weight: bold;
	font-family: arial;
	font-size: 10pt;
	color: #ff4905;
}

p.DefinitionListBody
{
	page-break-inside: avoid;
	margin-top: 6pt;
	margin-left: 32pt;
	color: #000000;
	font-family: arial;
	font-size: 10pt;
}

html
{
	mc-master-page: url('../MasterPages/NewPage.flmsp');
	border-top: none;
	border: none;
	border-left: none;
	border-top-width: 0px;
	border-width: 0px;
	border-style: none;
	padding: 0px;
}

html.NewPage
{
	mc-master-page: url('../MasterPages/NewPage.flmsp');
}

body.NewPage
{
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
}

html.splash
{
	mc-master-page: url('../MasterPages/Splash Page.flmsp');
	background-color: #a9a9a9;
}

big
{
	font-size: 0em;
	border-bottom: none;
	border: none;
	padding-left: 0px;
	padding-bottom: 0px;
	padding: 0px;
}

img
{
	border: none;
	padding: none;
}

th
{
	padding: 0px;
	border: none;
	font-size: 10pt;
	font-weight: bold;
	font-family: arial;
	color: #ffffff;
	text-align: left;
}

textarea
{
	padding: 0px;
}

MadCap|tocProxy
{
	padding-top: 0px;
	padding-left: 0px;
}

MadCap|dropDownHead
{
	font: Arial;
	font-family: arial;
	font-size: 10pt;
	font-weight: bold;
	padding-bottom: 3pt;
	padding-top: 3pt;
	padding-left: 5pt;
	color: #0183ff;
}

MadCap|dropDownBody
{
	font: Arial;
	font-family: arial;
	padding-left: 5pt;
	font-size: 10pt;
}

MadCap|dropDown
{
	color: #ff4905;
	padding-top: 6pt;
}

MadCap|dropDownHotspot
{
	color: #0184ff;
}

li.BulletLast
{
	font-size: 10pt;
	font-family: arial;
	font-style: normal;
	padding-top: 3pt;
	padding-bottom: 6pt;
	color: #000000;
	margin-left: 10pt;
}

MadCap|xref
{
	mc-format: '{para}';
	color: #0183ff;
	text-decoration: none;
}

a
{
	text-decoration: none;
	color: #007aff;
}

MadCap|dropDownHotspot:focus
{
	color: #ff4905;
}

MadCap|dropDownHotspot:hover
{
	color: #ff4905;
}

li.BulletRNIssue
{
	font-size: 10pt;
	font-family: arial;
	font-style: normal;
	padding-bottom: 0pt;
	font-weight: bold;
	padding-top: 6pt;
	color: #ff3e03;
	margin-left: 0pt;
}

body.splash
{
	background-color: #a9a9a9;
}

li.BulletSplash
{
	font-size: 10pt;
	font-family: arial;
	font-style: normal;
	padding-top: 3pt;
	padding-bottom: 0pt;
	color: #4483fe;
}

MadCap|xref:hover
{
	color: #ff4500;
}

MadCap|xref:focus
{
	color: #ff4500;
}

code
{
	font-size: 10pt;
	font-family: 'Courier New';
}

div.breadcrumb
{
	font-family: Arial;
	font-size: 10pt;
	border-bottom: solid 1px #a9a9a9;
	border-bottom-color: #ff4500;
	border-top: solid 1px;
	margin-bottom: 0px;
	padding-bottom: 6px;
	margin-top: 35px;
	border-top-color: #a9a9a9;
	border-top-width: 1px;
	padding-top: 0px;
}

div.IderaFooter
{
	text-align: center;
	bottom: 5px;
	padding-bottom: 0px;
	margin-bottom: 12px;
}

p.IderaFooter
{
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}

a.IderaFooter
{
	color: #000000;
}

div.LearnMore
{
	color: #ffffff;
	font: Arial;
	font-family: Arial;
	background-color: #ff4905;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 12px;
	font-size: 12pt;
	font-weight: bold;
}

a.LearnMore
{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}

p.TimeStamp
{
	text-align: right;
	margin-right: 15px;
}

p.FooterWebLink
{
	color: #ff4905;
	padding: 0pt;
	padding-left: 10pt;
	padding-top: 6pt;
	padding-bottom: 0pt;
	font-weight: bold;
}

a.FooterWebLink
{
	color: #ff4905;
}

@media print
{
	h1
	{
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		color: #ffffff;
	}

	h2
	{
		color: #ff4905;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		border-bottom: solid 1px;
		border-bottom-color: #a9a9a9;
		border-top: solid 1px;
		border-top-color: #a9a9a9;
		border-bottom-width: 1px;
		line-height: 20pt;
	}

	h3
	{
		color: #ff4905;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		border-bottom: solid 1px;
		border-bottom-color: #a9a9a9;
		border-top: solid 1px;
		border-top-color: #a9a9a9;
		border-bottom-width: 1px;
		line-height: 20pt;
	}

	h4
	{
		color: #ff4905;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		border-bottom: solid 1px;
		border-bottom-color: #a9a9a9;
		border-top: solid 1px;
		border-top-color: #a9a9a9;
		border-bottom-width: 1px;
		line-height: 20pt;
	}

	h5
	{
		color: #ff4905;
		font-size: 12pt;
		font-family: Arial;
		font-weight: bold;
		border-bottom: solid 1px;
		border-bottom-color: #a9a9a9;
		border-top: solid 1px;
		border-top-color: #a9a9a9;
		border-bottom-width: 1px;
		line-height: 20pt;
	}
	
	h6
	{
		color: #ff4905;
		font-size: 12pt;
		font-family: Arial;
		font-weight: bold;
		border-bottom: solid 1px;
		border-bottom-color: #a9a9a9;
		border-top: solid 1px;
		border-top-color: #a9a9a9;
		border-bottom-width: 1px;
		line-height: 20pt;
	}
}

a:link
{
	color: #0184ff;
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color: #0183ff;
}

a:hover
{
	text-decoration: none;
	color: #ff4905;
}

a:focus
{
	text-decoration: none;
	color: #ff4905;
}
