/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: banner; 
	border-collapse: collapse; 
	border-left-style: none; 
	border-left-width: 0px; 
	border-left-color: #000000; 
	border-right-style: none; 
	border-right-width: 0px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1pt; 
	border-top-color: #ff6347; 
	border-bottom-style: solid; 
	border-bottom-width: 4px; 
	border-bottom-color: #87cefa; 
	cell-padding-top: 0px; 
	cell-padding-bottom: 0px; 
}

mcTableColumnStyle {
	span: 0; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #ff4500; 
}

mcTableBodyStyle {
	span: 0; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #ff4500; 
}

 
 
/* Cell Styles: */
 
.TableStyle_banner
{
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #ff6347;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #87cefa;
	border-bottom-width: 4px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 0px 0px 0px;
}

.TableStyle_banner_Body_0_0
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_banner_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_banner_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_banner_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_banner_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #ff4500;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_banner_Body_0_0_ColEnd p
{
	font-weight: normal;
}


