<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="header" value="Idera SQLsecure Reports Installer"/>
    <add key="productName" value="SQLsecure"/>  
    <add key="productAbbrev" value="SQLsecure"/>  
    <add key="databaseName" value="SQLsecure"/> 
    <add key="tableName" value="reports"/> 
    <add key="startMenuPath" value="\\Idera\\SQLsecure\\"/>
    <add key="shortcutFile" value="SQLsecure Reports.lnk"/>  
    <add key="regkey" value="Software\\Idera\\SQLsecure\\ReportsInstaller"/>  
    <add key="parentPath" value="/"/> 
    <add key="folder" value="SQLsecure Reports"/> 
    <add key="rdlFolder" value="Reports"/> 
    <add key="folderDescription" value="Reports for SQLsecure."/>
    <add key="dataSourceName" value="SQLsecure Data Source"/>  
    <add key="dataSourceDescription" value="Data source for SQLsecure Reports."/>
    <add key="xmlReportsName" value="rdl.xml"/> 
    <add key="reportsXPathExpression" value="/folder/reportfile/name"/> 
    <add key="firstPanelImage" value="introSplash.png"/> 
    <add key="lastPanelImage" value="introSplash.png"/> 
    <add key="icon" value="scroll_48.ico"/> 
    <add key="columns0" value="reportserver"/>  
    <add key="columns1" value="reportfolder"/> 
    <add key="columns2" value="reportingservicestemplate"/> 
    <add key="columns3" value="maintemplate"/> 
    <add key="columns4" value="reportstemplate"/> 
    <add key="columnsNumber" value="5"/> 
    <add key="columnTypes0" value="System.String"/> 
    <add key="columnTypes1" value="System.String"/>
    <add key="columnTypes2" value="System.String"/>
    <add key="columnTypes3" value="System.String"/>
    <add key="columnTypes4" value="System.String"/>
    <add key="columnTypesNumber" value="5"/>
    <add key="reportingServicesTemplate" value="{0}{1}/{2}"/>
    <add key="mainTemplate" value="{0}{1}/{2}/Pages/Folder.aspx?ItemPath=%2f{3}"/>
    <add key="reportsTemplate" value="{0}{1}/{2}/Pages/Report.aspx?ItemPath=%2f{3}%2f{4}"/>
    <add key="eventLogLevel" value="0"/>
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
